.container {
    margin-bottom: 50px;
}

.nav {
    width: 90%;
    margin: 0 auto;
    height: 40px;
    background: #eee;
}

.main {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    margin-top: 55px;
}

.main > .left {
    width: 260px;
    display: none
}

/* 导航 */
.header-navi {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    background: #fff;
    text-align: right;
    border-bottom: 1px solid #eee;
}

.header-navi > div {
    display: inline-block;
}

.header-navi > .user-header {
    display: inline-flex;
    align-items: center;
    height: 100%;
    margin-right: 25px;
    cursor: pointer;
}

.header-navi > .user-header div:nth-child(2) {
    margin-left: 10px;
    color: #337ab7
}

.header-navi .user-header-img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info > .user-name {
    display: inline-block;
    margin-right: 5px;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-info > .user-header-img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.login-btn {
    color: blue
}

.main > .editor-area {
    width: 100%;
}

.form > input[name=title] {
    width: 94%;
    height: 40px;
    line-height: 40px;
    background: #eee;
    margin-bottom: 5px;
    padding: 0 10px;
    border: none;
    font-size: 16px;
}

.labels {
    align-items: center;
    margin: 15px 0;
    flex-wrap: wrap;
}

.add-label {
    position: relative;
    color: #349EDF;
    cursor: pointer;
}

/* .add-label:before{content:'';position: absolute;width: 20px;height: 20px;border-radius: 3px;background:#349EDF;color:#fff;left: -25px;top: 5px;} */
.add-label > div {
    display: inline-block;
}

.add-label-btn {
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    background: #349EDF;
    border-radius: 3px;
    top: 5px;
}

.add-label-btn > span:nth-child(1) {
    position: absolute;
    top: 9px;
    height: 2px;
    background: #fff;
    width: 16px;
    left: 2px;
}

.add-label-btn > span:nth-child(2) {
    position: absolute;
    width: 2px;
    background: #fff;
    left: 9px;
    top: 2px;
    height: 16px;
}

.add-label-hits {
    margin-left: 25px;
    height: 30px;
    line-height: 30px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
}

.input-group > section {
    margin-right: 5px;
}

.input-group input {
    background: #eee;
    border: none;
    width: 80px;
    border-radius: 3px;
    padding: 5px;
}

.delLabelBtn {
    display: inline-block;
    width: 20px;
    height: 100%;
    color: #888;
    font-size: 22px;
    margin-right: 3px;
    text-align: center;
    cursor: pointer;
}

.submit-btn {
    cursor: pointer;
    display: inline-block;
    width: 120px;
    padding: 8px 0;
    text-align: center;
    background: #349EDF;
    border-radius: 5px;
    color: #fff;
}

.hits-frame {
    width: 80%;
    display: none;
}

.hits-frame > div {
    padding: 10px;
}

.hits-frame > .hits-title {
    background: #349EDF;
    text-align: center;
    color: #fff;
}

.hits-frame > .hits-content {
    padding: 25px 15px 0 15px;
}

.hit-btn {
    text-align: center;
}

.hit-btn > div {
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 5px 0
}

.hit-btn div:nth-child(1) {
    color: #349EDF;
    border-right: 1px solid #888;
    width: 50%;
}

.center-main {
    padding: 20px;
    background: #fff;
    border-bottom: 1px solid #eee;
}

.center-main > .title {
    font-size: 22px;
    font-weight: bold;
}

.center-main > section {
    padding: 5px 0;
}

.user-list > span {
    display: inline-block;
    padding: 0 5px;
}

.user-list span + span {
    border-left: 1px solid #888;
}

.tags > span {
    display: inline-block;
}

.tags span + span {
    border: 1px solid #eee;
    border-radius: 5px;
    margin-right: 5px;
    padding: 1px 10px
}

.btn-col {
    display: flex;
    padding: 10px 0;
}

.btn-col > div {
    width: 50%;
    text-align: center;
    max-width: 200px;
}

.btn-col div:nth-child(1) {
    margin-right: 15px;
}

.btn-col div:nth-child(12) {
    margin-left: 15px;
}

/* 登录弹窗 */
.login-mask{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 10001;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.3)
}
.login-frame {
    background: #fff;
    padding: 20px;
    width: 250px;
    height: 230px;
}

.mobile-login-dv {
    overflow: hidden;
    max-width: 400px;
}

.key-dv, .passwd-dv, .vertify-dv {
    padding: 0 10px;
    margin: 20px 0;
    height: 45px;
    line-height: 45px;
    border: 1px solid #eee;
    border-radius: 3px;
}

.key-dv > input, .passwd-dv > input {
    border: none
}

.login-frame .login-btn {
    padding: 10px 5px;
    background: #337ab7;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    margin-top: 25px;
    cursor: pointer;
}

.form-group {
    display: flex;
    width: 100%;
}

.form-group input {
    width: 98%;
    height: 80%;
}

.form-group > div {
    width: 100%;
}
/* 登录弹窗结束 */
/* 平板及以上屏幕 */
@media screen and (min-width: 768px) {
    .login-frame {
        width: 400px;
        height: 250px;
    }
    .main > .left {
        display: block
    }
}