input[type=text] {
    border: none
}

.hidden {
    display: none;
}

.hiddenforce {
    display: none !important;
}

* {
    font-size: 14px;
}

body {
    padding: 20px;
}

input, textarea, select, a:focus {
    outline: none;
}

.flex {
    display: flex;
}

.mobile-login-dv {
    overflow: hidden;
    max-width: 400px;
    border: 1px solid #eeeeee;
    padding: 10px;
    background-color: #fff;
}

.login-form {
    margin-right: 30px;
}

.key-dv, .passwd-dv, .vertify-dv {
    padding: 0 10px;
    margin: 20px 0;
    height: 45px;
    line-height: 45px;
    border: 1px solid #eee;
    border-radius: 3px;
}

.key-dv > input, .passwd-dv > input {
    border: none
}

.login-btn {
    padding: 10px 5px;
    background: #337ab7;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    margin-top: 25px;
    cursor: pointer;
}

.social-login{
    padding: 10px 0;
    display: flex;
    justify-content: right;
}

.github-login{
    cursor: pointer;
}
.github-login img{
    width: 32px;
    height: 32px;
}

.form-group {
    display: flex;
    width: 200%;
    transition: all .2s ease;
    height: 70vh
}

.form-group input {
    width: 98%;
    height: 80%;
}

.form-group > div {
    width: 100%;
}

.navBar {
    width: 100%;
    display: flex;
    position: relative;
}

.navBar > .select-item {
    width: 50%;
    padding: 10px 30px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.navBar > div:nth-child(2) {
}

.register-box {
    transform: translateX(-50%)
}

.select-bar.left {
    right: unset;
    left: 0;
}

.select-bar.right {
    left: unset;
    right: 0;
}

/* .navBar>.active{border-bottom:2px solid #337ab7;} */
.select-bar {
    position: absolute;
    width: 50%;
    height: 2px;
    background: #337ab7;
    left: 0;
    bottom: 0;
}

.exsit-name {
    color: red;
    font-size: 12px;
}

.vertify-dv {
    display: flex;
    border: none !important;
    padding-left: 0;
}

.vertify-input-dv {
    display: inline-block;
    width: calc(40% - 2px);
    width: -webkit-calc(40% - 2px);
    height: 45px;
    border: 1px solid #eee;
}

.vertify-dv input {
    width: 90%;
    height: 98%;
    padding: 0 5px;
}

.vertify-image {
    width: 60%;
    text-align: right;
    height: 98%;
    background-size: 80px 40px;
    background-position: right;
}

.vertify-image > img {
    border: 1px solid #888;
    height: 40px;
    width: 80px
}


.left-picture {
    display: none;
    width: 40%;
    padding: 0 40px;
}

.left-picture > img {
    width: 100%;
}

.pc-form-group {
    padding: 0 40px;
    border: 1px solid #eee;
}

.wrap {
    width: 450px;
    overflow: hidden
}

/* 判断屏幕大小 */
/* 移动端或pad */
@media screen and (min-width: 768px) {
    .left-picture {
        display: inline-block;
    }

    .register-box {
        transform: translateX(-400px)
    }
}

