
.hidden {
    display: none;
}

#app.remove-hidden {
    display: unset;
}

.header-navi {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #fff;
    text-align: right;
    border-bottom: 1px solid #eee;
}

.title {
    position: fixed;
    left: 10px;
    font-size: 32px;
    color: transparent;
    background-color: black;
    -webkit-background-clip: text;
    text-shadow: 1px 0px 2px #0dbfdd;
    font-style: italic;
}

.user {
    display: inline-flex;
    align-items: center;
    height: 100%;
    margin-right: 15px;
}

.btn-exit {
    color: #0dbfdd;
    cursor: pointer;
}

.container {
    display: flex;
    padding: 30px 50px 0 20px;
}

.container {
    margin-top: 60px;
    margin-bottom: 20px;
    word-break: break-word;
}

.left {
    width: 250px;
    position: inherit;
    z-index: 1;
    transform: translateX(0);
    transition: unset;
    margin-right: 30px;
    top: 45px;
    left: 0;
}

.right {
    flex: 1;
    background: #ffff;
}

.menu {
    border: 1px solid #eee;
    border-radius: 3px;
    background: #fff;
    text-align: center;
}

.menu .selected {
    color: #0dbfdd;
}

.menu div + div {
    border-top: 1px solid #eee;
}

.memu-item {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    padding: 30px 0;
    text-align: center;
}

.memu-item:hover {
    color: #0dbfdd;
    text-decoration: underline;
    color: #0dbfdd;
}

.flex-outer-wrap {
    display: flex;
    padding: 10px 5px;
    height: 100%;
    flex-wrap: wrap;
}

.item-wrap {
    width: 200px;
    height: 270px;
    margin-right: 80px;
    margin-bottom: 45px;
}

.item-img {
    width: 100%;
    height: 250px;
}

.item-img img {
    width: 100%;
    height: 100%;
}

.item-opera {
    text-align: center;
}

.item-opera section {
    padding: 10px;
}

.btn-detail {
    background: #0dbfdd;
    color: #fff;
    cursor: pointer;
}


.sec-menu {
    padding: 5px 2px;
    color: #0dbfdd;
    border-bottom: 1px solid #eee;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.opera {
    text-align: right;
    flex: 1;
    padding: 0 20px;
}

.opera > span {
    display: inline-block;
    background: #0dbfdd;
    color: #fff;
    padding: 8px 30px;
    border-radius: 5px;
    cursor: pointer;
}

/**禁止选择 */
.fb-select {
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    user-select: none;
}

.hidden {
    display: none;
}

.img-block {
    width: 250px;
    text-align: right;
}

.width-50-per {
    width: 50%;
}

.img-item {
    width: 200px;
    height: 230px;

}

.base-info-block {
    flex: 1;
}

.base-info-block > section {
    padding: 30px 20px;
    width: 100%;
    display: flex;
    align-items: center;
}

.base-info-block div {
    display: inline-block;
}

.input-dv {
    border: 1px solid #c1c1c1;
    margin-left: 15px;
    padding: 3px 10px;
    border-radius: 5px;
    width: -moz-calc(100% - 350px);
    width: -webkit-calc(100% - 350px);
    width: calc(100% - 300px);
}

.disable, .disable input {
    background: #eee !important;
}

.disable, .disable textarea {
    background: #eee !important;
}


.disable:hover {
    border: 1px solid #c1c1c1 !important;
}

.input-dv:hover {
    border: 1px solid #0dbfdd;
}

.base-info-block input, textarea {
    border: none;
    height: 30px;
    display: block;
    width: 100%;
    background: #fff;
    resize: none;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: height .3s ease-in-out;
    transition: height .3s ease-in-out;
    border: none;
}

.base-info-block textarea {
    line-height: 20px;
    height: 200px;
    font-size: 20px;
}


.base-info-block .label {
    width: 100px;
}

#wrap-id {
    display: block;
}

.btn-wrap {
    text-align: right;
    width: -moz-calc(100% - 120px);
    width: -webkit-calc(100% - 120px);
    width: calc(100% - 120px);
}

.btn-wrap span {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    background: rgba(13, 191, 221, 1);
}

.btn-wrap span:last-child:hover {
    background: rgba(13, 191, 221, 0.8);
}

.btn-wrap span:first-child {
    margin-right: 30px;
    background: #fff;
    border: 1px solid rgba(13, 191, 221, 0.3);
    color: #0dbfdd;
}

.btn-wrap span:first-child:hover {
    border: 1px solid rgba(13, 191, 221, 1);
}

.select-img {
    position: relative;
}

.select-img-tip {
    text-align: center;
}

.select-img input {
    display: none;
}

.select-img-label {
    width: 200px;
    height: 200px;
    display: inline-block;
    border: 1px dashed rgba(13, 191, 221, 0.5);
    cursor: pointer;
}

.select-img-label:hover {
    border: 1px dashed rgba(13, 191, 221, 1);
}

.banner-select-img-label {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}

.select-img-label span {
    position: absolute;
    background: #0dbfdd;
    width: 3px;
    height: 50px;
    top: 75px;
    left: 98.5px;
}

.select-img-label span:first-child {
    width: 50px;
    height: 3px;
    top: 98.5px;
    left: 75px;
}

.banner-select-img-label span {
    left: calc((100% - 3px) / 2);
}


.banner-select-img-label span:first-child {
    left: calc((100% - 50px) / 2);
}

.banner-wrap {
    width: 100%;
    height: 250px;
    text-align: center;
    margin-bottom: 20px;
}

.banner-wrap img {
    height: 100%;
}


.comment-show-wrap {
    display: block;
}


.show-img {
    width: 200px;
    height: 250px;
    position: relative;
}

.show-img img {
    width: 100%;
    height: 100%;
}

.banner-show-img {
    max-width: 100%;
    height: 250px;
    position: relative;
}

.banner-show-img label {
    width: 100%;
    height: 100%;
    text-align: center;
    display: inline-block;
}

.banner-show-img img {
    height: 100%;
    /* width: 100%;*/
}


.community-edit-content-input {
    width: 100%;
    min-height: 300px;
    border: 1px solid #eee;
    margin-top: 10px;
    padding: 5px;
}

.community-edit-content-input:hover {
    border: 1px solid rgba(13, 191, 221, 0.5);
}

.community-edit-content-input:focus {
    border: 1px solid rgba(13, 191, 221, 0.5);
}

#banner-btn-wrap-id {
    margin: 10px 0;
    width: 100%;
}

.marquee_img_del {
    position: absolute;
    right: -5px;
    top: -5px;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    background-color: #e2e2e2;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
}

.outer-mask {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 10001;
    top: 0;
    left: 0;
}

.mask-content-outer {
    position: fixed;
    width: 300px;
    height: 200px;
    margin: 0 auto;
    background: #fff;
    z-index: 10002;
    top: 0;
    left: 0;
    top: calc((100% - 200px) / 2);
    left: calc((100% - 300px) / 2)
}

.mask-btn {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 45px;
    width: 100%;
}

.mask-btn div {
    float: right;
    margin-right: 15px;
    padding: 5px 30px;
    border-radius: 5px;
}

.btn-cancel {
    border: 1px solid rgba(13, 191, 221, 0.5);
    color: #0dbfdd;
    cursor: pointer;
}

.btn-cancel:hover {
    border: 1px solid rgba(13, 191, 221, 1);
}

.btn-confirm {
    cursor: pointer;
    background: rgba(13, 191, 221, 1);;
}

.btn-confirm:hover {
    background: rgba(13, 191, 221, 0.8);
}

.mask-content-parent {
    width: 100%;
    position: absolute;
    height: 90%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.mark-content {
    padding: 20px;
}

.mask-content-outer .close {
    font-size: 24px;
    right: 0px;
    width: 30px;
    height: 30px;
    position: absolute;
    cursor: pointer;
    z-index: 10003;
}

.showLoading {
    z-index: 10004;
    width: 100px;
    height: 100px;
    position: absolute;
    left: calc((100% - 100px) / 2);
    top: calc((100% - 200px) / 2);
}

.comment-block {
    width: 100%;
    padding: 30px 20px;

}

.comment-title-tip {
    padding: 5px 0;
    color: #3D3D3D;
    font-size: 18px;
}

.text-dv {
    width: 100%;
}

.comment {
    width: 100%;
}

#iComment {
    border: 1px solid #c1c1c1;
    height: 100px;
    border-radius: 5px;
    padding: 5px;
}

#iComment:hover {
    border: 1px solid rgba(13, 191, 221, 1);
}

#iSubmit {
    width: 100%;
    text-align: right;
    margin: 5px 0;

}

#iSubmit span {
    padding: 5px 20px;
    background: rgba(13, 191, 221, 1);
    border-radius: 5px;
    color: #fff;
    cursor: pointer;

}

#iSubmit span:hover {
    background: rgba(13, 191, 221, 0.8);

}

.comment-show {
    width: 100%;
    margin-top: 5px;
}

.comment-show section {
    padding: 10px 0;
    border-bottom: 1px dotted #c1c1c1;
    color: #3D3D3D;
}



