<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width , initial-scale=1,maximum-scale=1.0, user-scalable=0">
    <title>博客创作</title>
    <link href="css/common.css" rel="stylesheet" type="text/css">
    <link href="css/add_blog.css" rel="stylesheet" type="text/css">
</head>
<body>

<div class="container" id="app" v-cloak>
    <div v-show="null != account.token" class="header-navi darkMode">
        <div class="user-header">
            <div class="user-info user" data-id="6" data-type="userinfo">
                <img class="user-header-img" :src="account.headerUrl"/>
                <div class="user-name" @click="logout">{{account.accountName}}</div>
            </div>
        </div>
    </div>
    <div class="flex main">
        <div class="left">
            <span class="hits">关注公众号和小程序，获取最新动态</span>
            <div class="wxgz-qrcode">
                <img alt="找不到图片" src="images/my_wxgz_qrcode.jpg">
            </div>
            <div class="wxgz-qrcode">
                <img alt="找不到图片" src="images/my_wxapp_code.jpg">
            </div>
        </div>
        <div class="editor-area">
            <form class="form" id="iForm">
                <input v-model="title" placeholder="文章标题" type="text" name="title"/>
                <textarea name="editor" id="editor"></textarea>
                <div class="labels flex">
                    <div>文章标签：</div>
                    <div class="input-group" id="iInputGruop">
                        <section v-for="(item,index) in tags">
                            <input v-model="tags[index].value" type="text" :value="item.value" focus="false">
                            <span class="delLabelBtn" :data-idx="index" @click="delTag">x</span>
                        </section>
                    </div>
                    <div class="add-label" id="iAddLabelBtn" @click="addTag">
                        <div class="add-label-btn"><span></span><span></span></div>
                        <div class="add-label-hits">添加标签</div>
                    </div>
                </div>
            </form>
            <div class="submit-btn" id="iBtn" @click="submit">发布</div>
            <div class="btn-col">
                <div class="submit-btn" id="iSaveDraft" @click="saveDraft">保存草稿箱</div>
                <div class="submit-btn" id="iPre" @click="preview">预览</div>
            </div>

        </div>
    </div>
</div>
<script src="js/global/vue.js"></script>
<script src="js/global/axios.js"></script>
<script src="js/global/common.js"></script>
<script src="js/global/request.js"></script>
<script src="js/global/ckeditor/ckeditor.js"></script>
<script>

    const vm = new Vue({
        el: "#app",
        data: {
            tags: [],
            account: {},
            title: null,
            blogId: null,//编辑才有
            blog: null,//编辑才有
        },
        created: function () {
            let account = getLocalValue("account") || {};
            if (!account || !account.token) {
                gotoLoginPage();
                return;
            }
            //验证用户
            doGet("/api-blog/v2/blog/auth")
            this.account = account;
        },
        mounted: function () {
            let href = window.location.href;
            if (href.indexOf("=") > -1) {
                //先简单粗暴的处理吧
                let id = href.substring(href.indexOf("=") + 1);
                this.blogId = id;
            }
            //编辑的时候
            this.loadBlog();
        },
        methods: {
            addTag: function () {
                this.tags = this.tags.concat({});
            },
            delTag: function (e) {
                let idx = e.srcElement.dataset.idx;
                this.tags.splice(parseInt(idx), 1);
            },
            submit: function () {
                let content = CKEDITOR.instances.editor.getData();
                let title = this.title;
                if (!title) {
                    alert("请输入标题");
                    return;
                }
                if (!content) {
                    alert("请输入内容");
                    return;
                }
                let tagArr = checkAndGetTags(this.tags);
                if (!tagArr) {
                    alert("请输入标签")
                    return;
                }
                let param = {
                    title: title,
                    content: content,
                    tagList: tagArr,
                    type: 1
                };
                let id = this.blogId;
                if (id) {
                    //更新
                    param.id = id;
                    doPost("/api-blog/v2/blog/update", param, function (data) {
                        location.href = "index.html"
                    })
                } else {
                    doPost("/api-blog/v2/blog/create", param, function (data) {
                        location.href = "index.html"
                    })
                }
            },
            logout: function () {
                if (confirm("是否退出登录")) {
                    doGet("/api-account/v2/account/logout", {}, function () {
                        saveLocalValue("account", "");
                        location.href = "index.html"
                    });
                }
            },
            loadBlog: function () {
                let blogId = this.blogId;
                if (!blogId) {
                    return;
                }
                //编辑进来的
                let that = this;
                doGet("/api-blog/v2/blog/query-by-id", {id: blogId}, function (data) {
                    if (data) {
                        let date = new Date(data.createTime);
                        data["simpleDate"] = date.handleViewDate();
                    }
                    that.title = data.title;
                    let tags = data.tagList;
                    let arr = [];
                    for (let i = 0; i < tags.length; i++) {
                        let t = tags[i];
                        arr.push({value: t.tag})
                    }
                    that.tags = arr;
                    fillContent(data.content);
                })
            },
            saveDraft: function () {
                alert("尚未开通，敬请期待")
            },
            preview: function () {
                alert("尚未开通，敬请期待")
            }
        }
    })

    function checkAndGetTags(tags) {
        if (!tags || !tags.length) {
            return null;
        }
        let arr = [];
        for (let i = 0; i < tags.length; i++) {
            let tag = tags[i];
            if (!tag.value) {
                continue;
            }
            arr.push({tag: tag.value});
        }
        if (!arr.length) {
            return null;
        }
        return arr;
    }

    /**
     * 填充内容
     */
    function fillContent(content) {
        CKEDITOR.instances.editor.setData(content);
        //可能是文本编辑器初始化还没完成，设置内容不成功，延迟吧
        setTimeout(function () {
            //尝试获取内容
            let data = CKEDITOR.instances.editor.getData();
            if (!data || !data.trim().length) {
                CKEDITOR.instances.editor.setData(content);
            }
        }, 300);

    }

    CKEDITOR.replace('editor', {
        language: 'zh-cn',
        height: 600,
    });

</script>

</body>
</html>