<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width ,initial-scale=1,maximum-scale=1.0, user-scalable=0">
    <title>详情</title>
    <link href="css/common.css" rel="stylesheet" type="text/css">
    <link href="css/blog_detail.css" rel="stylesheet" type="text/css">
    <style type="text/css">
    </style>
</head>
<body class="darkMode">
<div class="main" id="app" v-cloak>
    <!------------------------头部导航------------------------>
    <div v-show="null == account.token " class="header-navi darkMode">
        <div class="user-header">
            <div class="login-btn" @click="gotoLogin">登录/注册</div>
        </div>
        <div class="addblog" @click="gotoAddBlog">写博客</div>
    </div>
    <div v-show="null != account.token" class="header-navi darkMode">
        <div class="user-header">
            <div class="user-info user" data-id="6" data-type="userinfo">
                <img class="user-header-img" :src="account.headerUrl"/>
                <div class="user-name" @click="logout">{{account.accountName}}</div>
            </div>
        </div>
        <div class="addblog" @click="gotoAddBlog">写博客</div>
    </div>
    <!------------------------end头部导航------------------------>
    <div class="container">
        <!------------------------内容------------------------>
        <div class="container-content">
            <div class="center-main darkMode" id="iBlogs">
                <section class="title">
                    <span class="title-text">{{blog.title}}</span>
                    <span v-show="blog.canModify" @click="edit" class="edit" data-id="121">编辑</span>
                    <span v-show="blog.canModify" @click="deleteBlog" class="delete" data-id="121">删除</span>
                </section>
                <section class="user-list">
                    <span>{{blog.simpleDate}} | </span><span class="user" data-id="6">{{blog.userName}} | </span><span>阅读数 {{blog.readCount}}</span>
                </section>
                <section class="tags">
                    <span>标签</span>
                    <span v-for="item in blog.tagList">{{item.tag}}</span>
                </section>
                <section v-html="blog.content"></section>

                <div class="loading-mask" :class="{'hide-mask':hideMask}">
                    <div class="shapes-4"></div>
                </div>

            </div>
            <div class="right-info">
                <span class="hits">关注公众号和小程序，获取最新动态</span>
                <div class="wxgz-qrcode">
                    <img alt="找不到图片" src="images/my_wxgz_qrcode.jpg">
                </div>
                <div class="wxgz-qrcode">
                    <img alt="找不到图片" src="images/my_wxapp_code.jpg">
                </div>
            </div>
        </div>
        <!------------------------end内容------------------------>
        <!-------------------------评论------------------------>
        <div class="comment darkMode">
            <input type="hidden" id="iUser" value="">
            <img alt="" src="images/default_user_header.png" id="iUserHeader">
            <div class="text-dv">
                <textarea v-model="commentContent" id="iComment" class="comment-text darkMode"
                          placeholder="想对作者说点什么"></textarea>
            </div>
            <div class="submit-btn" id="iSubmit" @click="publish">发表</div>
        </div>
        <div class="comment-list darkMode" id="iComments">
            <section v-for="(item,index) in comments" class="comment-item">
                <div class="left-user-info">
                    <img :src="item.userHeaderUrl">
                </div>
                <div class="right-comment-info">
                    <span class="commenter">{{item.userName}}：</span>
                    <span>
                        {{item.content}}
                        <span class="create-date">（{{item.simpleDate}}	#{{index+1}}楼）</span>
                    </span>
                </div>
            </section>
        </div>
        <!------------------------end评论------------------------>
        <div class="footer-code darkMode">
            <span class="hits">关注公众号和小程序，获取最新动态</span>
            <div class="footer-qr-code">
                <div class="wxgz-qrcode">
                    <img src="images/my_wxgz_qrcode.jpg"/>
                </div>
                <div class="wxgz-qrcode">
                    <img src="images/my_wxapp_code.jpg"/>
                </div>
            </div>
        </div>
    </div>

    <!-- 登录弹窗 -->
    <div v-show="showLogin" class="login-mask" @click.self="hideLoginMask">
        <div class="login-frame" id="iLoginFrame">
            <div class="login-dv">
                <div class="mobile-login-dv">
                    <div class="navBar">
                        <div>登录</div>
                    </div>
                    <div id="iForms" class="form-group ">
                        <div class="login-form" id="iLoginForm">
                            <div class="key-dv">
                                <input type="text" v-model="user" name="key" placeholder="用户名/手机号/邮箱"/>
                            </div>
                            <div class="passwd-dv">
                                <input type="password" v-model="password" name="password" placeholder="密码"/>
                            </div>
                            <div id="iLoginBtn" class="login-btn submitBtn" @click="login">登录</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="log-frame" id="iLogFrame">
    <div class="log-nav">
        <div>页面日志</div>
        <div>info：0 warn：0 <span class="logErr error-font">error: 0</span></div>
    </div>
    <div class="system-info">系统：</div>
    <div class="page-log">页面错误日志</div>
</div>
<script src="js/global/vue.js"></script>
<script src="js/global/axios.js"></script>
<script src="js/global/common.js"></script>
<script src="js/global/request.js"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            blog: {},
            comments: [],
            blogId: null,
            account: {},
            hideMask: false, //加载动画
            showLogin: false, //登录页面
            user: null,
            password: null,
            commentContent: null,//评论内容
        },
        created: function () {
            let account = getLocalValue("account") || {};
            this.account = account;
        },
        mounted: function () {
            let href = window.location.href;
            if (href.indexOf("=") > -1) {
                //先简单粗暴的处理吧
                let id = href.substring(href.indexOf("=") + 1);
                this.blogId = id;
            }
            this.loadBlog();
            this.loadComments();
        },
        methods: {
            loadBlog: function () {
                let id = this.blogId;
                let that = this;
                doGet("/api-blog/v2/blog/query-by-id", {id: id}, function (data) {
                    if (data) {
                        let date = new Date(data.createTime);
                        data["simpleDate"] = date.handleViewDate();
                    }
                    that.blog = data;
                    that.hideMask = true;
                })
            },
            gotoLogin: function () {
                gotoLoginPage();
            },
            loadComments: function () {
                let id = this.blogId;
                let that = this;
                doPost("/api-blog/v2/comment/query-by-blog-id", {
                    blogId: id
                }, function (data) {
                    if (data && data.data) {
                        let list = data.data || [];
                        list.forEach(function (item) {
                            let d = new Date(item.createTime);
                            item["simpleDate"] = d.handleViewDate();
                        })
                        that.comments = list;
                    }
                })
            },
            gotoAddBlog: function () {
                location.href = "add_blog.html";
            },
            logout: function () {
                if (confirm("是否退出登录")) {
                    doGet("/api-account/v2/account/logout", {}, function () {
                        saveLocalValue("account", "");
                        location.reload()
                    });
                }
            },
            publish: function () {
                let that = this;
                doGet("/api-blog/v2/blog/auth", {}, function () {
                    let content = that.commentContent;
                    if (!content || !content.trim().length) {
                        alert("请输入内容");
                        return;
                    }
                    doPost("/api-blog/v2/comment/create", {
                        blogId: that.blogId,
                        content: content
                    }, function () {
                        that.loadComments();
                        that.commentContent = null;
                    })
                }, function () {
                    //失败，登录过期了
                    if (that.account && that.account.token) {
                        //登录过，但是已经过期
                        alert("登录已过期，请重新登录");
                        saveLocalValue("account", "");
                    }
                    that.showLogin = true;
                })
            },
            login: function () {
                let that = this;
                let user = this.user;
                let password = this.password;
                if (!user) {
                    alert("请输入用户名/手机号/邮箱")
                    return;
                }
                if (!password) {
                    alert("请输入密码")
                    return;
                }
                let param = {
                    user: user,
                    password: password
                }
                doPost("/api-account/v2/account/login", param, function (data) {
                    saveLocalValue("account", data);
                    that.account = data;
                    that.showLogin = false;
                }, function (error) {
                    alert(error.msg);
                })
            },
            hideLoginMask: function () {
                this.showLogin = false;
            },
            deleteBlog: function () {
                if (confirm("是否确认删除博客？")) {
                    doGet("/api-blog/v2/blog/delete-by-id?id=" + this.blog.id, {}, function () {
                        location.href = "index.html"
                    });
                }
            },
            edit: function () {
                location.href = "add_blog.html?id=" + this.blog.id;
            }
        }
    })
</script>

</body>
</html>