<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width,  initial-scale=1.0, user-scalable=0, minimum-scale=1.0,  maximum-scale=1.0"/>
    <title>登录</title>
    <link href="css/common.css" rel="stylesheet" type="text/css">
    <link href="css/login.css" rel="stylesheet" type="text/css">

    <style type="text/css">
    </style>

</head>
<body>

<div class="flex" id="app" v-cloak>
    <div class="left-picture">
        <img alt="图片加载失败" src="images/logo.jpg">
    </div>
    <div class="login-dv">
        <div class="mobile-login-dv">
            <div class="navBar" id="iNvaBar">
                <div data-type="login" @click="loginToggle" class="select-item">账号登录</div>
                <div class="select-item" @click="loginToggle">快速注册</div>
                <div class="select-bar" :class="isRegister ? 'right' : 'left'" id="iSelectBar"></div>
            </div>
            <div id="iForms" class="form-group " :class="{'register-box':isRegister}">
                <div class="login-form form" id="iLoginForm">
                    <div class="key-dv">
                        <input v-model="user" type="text" @keyup.enter="login" name="key" placeholder="用户名/手机号/邮箱"/>
                    </div>
                    <div class="passwd-dv">
                        <input v-model="password" class="enter" @keyup.enter="login" data-type="login" type="password"
                               name="password"
                               placeholder="密码"/>
                    </div>
                    <div class="login-btn submitBtn" @click="login">登录</div>
                    <div class="social-login">
                        <span @click="githubAuth" class="github-login"><img src="images/github_logo.png"/></span>
                    </div>
                </div>
                <div class="register-form form" id="iRegisterForm">
                    <div class="key-dv"><input v-model="user" type="text" name="key" placeholder="请输入用户名"/></div>
                    <div class="exsit-name hidden">*用户名已存在</div>
                    <div class="passwd-dv"><input type="password" v-model="password" name="password" placeholder="密码"/>
                    </div>
                    <div class="passwd-dv"><input v-model="confirmPassword" type="password" name="confirmPasswd"
                                                  placeholder="确认密码"/></div>
                    <div class="vertify-dv">
                        <div class="vertify-input-dv">
                            <input type="text" name="vertifyCode" v-model="code" class="enter" data-type="register"
                                   placeholder="验证码"/>
                        </div>
                        <div class="vertify-image">
                            <img v-if="null != verifyCode" @click="getVerifyCode" class="verifyImg" :src="verifyCode"/>
                            <img v-else class="verifyImg" src="images/peding.gif"/>
                        </div>
                    </div>
                    <div data-type="register" @click="register" class="login-btn submitBtn">注册</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script src="js/global/vue.js"></script>
<script src="js/global/axios.js"></script>
<script src="js/global/common.js"></script>
<script src="js/global/request.js"></script>
<script type="text/javascript">
    new Vue({
        el: "#app",
        data: {
            user: null,
            password: null,
            isRegister: false,
            key: null,
            code: null, //用户输入的验证码
            verifyCode: null,
            confirmPassword: null,
        },
        created: () => {
        },
        mounted: function () {
            this.getVerifyCode();
        },
        methods: {
            login: function () {
                let user = this.user;
                let password = this.password;
                if (!user) {
                    alert("请输入用户名/手机号/邮箱")
                    return;
                }
                if (!password) {
                    alert("请输入密码")
                    return;
                }
                let param = {
                    user: user,
                    password: password
                }
                doPost("/api-account/v2/account/login", param, function (data) {
                    saveLocalValue("account", data);
                    gotoRef();
                }, function (error) {
                    alert(error.msg);
                })
            },
            loginToggle: function () {
                this.isRegister = !this.isRegister
            },
            getVerifyCode: function () {
                let that = this
                doGet("/api-account/v2/account/get-verify-code", {}, function (data) {
                    that.key = data.key;
                    let code = data.verifyCode
                    that.verifyCode = "data:image/png;base64," + code;
                })
            },
            register: function () {
                let that = this;
                let user = this.user;
                let password = this.password;
                let code = this.code;
                let confirmPassword = this.confirmPassword;
                let key = this.key;
                if (!user) {
                    alert("请输入用户名/手机号/邮箱")
                    return;
                }
                if (!password) {
                    alert("请输入密码")
                    return;
                }
                if (!code) {
                    alert("请输入验证码")
                    return;
                }
                if (password != confirmPassword) {
                    alert("两次密码不一致")
                    return
                }
                let param = {
                    accountName: user,
                    nickName: "test",
                    password: password,
                    verifyCode: code,
                    key: key
                }
                doPost("/api-account/v2/account/register", param, function (data) {
                    alert("注册成功");
                    that.isRegister = false;
                }, function (error) {
                    alert(error.msg);
                })
            },
            githubAuth() {
                let ref = getQueryString("ref");
                if (ref && ref.length) {
                    saveLocalValue("ref", ref);
                }
                location.href = "https://github.com/login/oauth/authorize?client_id=9b3e3a95ca4392cc0f33&redirect_uri=http://localhost:63342/front/vue-blog/oauth2.html?_ijt=ml23ea71jd5eramqenfrgs6qj5"
            }
        }

    })

    function gotoRef(ref) {
        if (!ref) {
            let href = location.href
            ref = "index.html"
            let idx = href.indexOf("ref=");
            if (idx > -1) {
                ref = href.substring(idx + 4);
            }
        }
        location.href = ref;
    }


</script>

</html>